{
	"MODE": "LLVM",
	"RANDOLLVM_ROOT": "/root/",
	"SERVER_URL": "http://xx.x.x.xxx:5001",
	"ITERATIONS": 2000,
	"FUZZING_TIME": 7200, 
	"DOWNLOADS": "/root/fitness_wrapper/uploaded_files/",
	"ARCH": "x86-64",
	"FITNESS_FUNCTION": "function_hash_iter",
	"SOURCE"          : "/root/afl_sources/eot2ttf.bc",
	"THREADS"         : "20"
}
