{
	"MODE": "LLVM",
	"RANDOLLVM_ROOT": "/workdisk/vidush/Cornucopia/",
	"SERVER_URL": "http://128.46.36.85:5001",
	"ITERATIONS": 2000,
	"FUZZING_TIME": 7200, 
	"DOWNLOADS": "/workdisk/vidush/Cornucopia/fitness_wrapper/uploaded_files/",
	"ARCH": "x86-64",
	"FITNESS_FUNCTION": "ncd",
	"SOURCE"          : "/workdisk/vidush/Cornucopia/afl_sources/eot2ttf.bc",
	"THREADS"         : "5"
}
